/*
table {
  border: solid #000 1px;
  border-collapse: collapse;
  background-image: url(../img/wood_texture.jpg);
  font-family: arial, sans-serif;
  font-size: 14pt;
}
*/


/*
table tr td {
  border: solid #000 1px;  width: 60px;
  height: 60px;
  border-collapse: collapse;    
  text-align: center;
}
*/


/*
.edge {
    border: none;
}
*/

/*
.dark {
    background: #000;
}
*/

