html {
    background-color: #F8F9FB;
    margin: 30px;
}

.code {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 30px;
    text-shadow: 0 1px white;
    font-family: "Courier New", monospace;
    border: 1px solid #e3eaf0;
    font-size: 14px;
    border-radius: 3px;
}

.btn {
    margin-top: 20px;
}

a {
    text-decoration: none;
}